

input, textarea, select {
    height: 40px;
    padding-left: 0px;
    border: 1px solid #8a8a8a;
    width: 99%;
    font-size: 15px;
}
textarea {
    min-height: 80px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 1px solid #373737;
}

ant-form-item {
    margin-bottom: 10px;
}

Button {
    cursor: pointer;
}