services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    networks:
      - app_network
    environment:
      MONGO_URL: mongodb+srv://dat2k4_mongodb:PZ7MZNUixYtZk7HW@dat2k4.opnnv.mongodb.net/movie_booking
      PORT: 8080
      JWT_SECRET: movie_booking
      FRONTEND_URL: http://localhost:3000
    depends_on:
      - mongo
  
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app_network
    environment:
      PORT: 3000
      NODE_ENV: developer
      VITE_BACKEND_URL: http://localhost:8080
      VITE_IS_LOCALHOST: 1

  
  mongo:
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app_network
  
networks:
  app_network:
    driver: bridge
  
volumes:
  mongo_data:
    driver: local