:root {
    --colour--primary: #006666;
    --colour--secondary: #e6b412;
}
.bg-primary {
    background-color: var(--colour--primary);
}

.bg-secondary {
    background-color: var(--colour--secondary);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-error {
    background-color: red;
}

.bg-warning {
    background-color: rgba(209, 209, 48, 0.966);
}

.text-primary {
    color: var(--colour--primary) !important;
}

.text-secondary {
    color: var(--)
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.boorder-primary {
    border-color: var(--colour--primary);
}

.boorder-secodary {
    border-color: var(--colour--secondary)
}

